<header>
  <button id="abrir" (click)="abrir()" class="abrir-menu"> <img class="icon-open" src="../../../assets/icons/menu-2-outline.png" alt=""> </button>
  <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar" (click)="cerrar()" > <img class="icon-close" src="../../../assets/icons/icon-close.png" alt=""> </button>
      <ul class="nav-list">
          <li><a [routerLink]="['/']">Inicio</a></li>
          <li><a [routerLink]="['/about']">Quién soy</a></li>
          <li><a [routerLink]="['/servicios']">Servicios</a></li>
          <li><a [routerLink]="['/proyectos']">Proyectos</a></li>
          <li><a [routerLink]="['/contacto']">Contacto</a></li>
      </ul>
  </nav>
</header>
