<header>
  <button id="abrir" (click)="abrir()" class="abrir-menu"> <span class="anticon" nz-icon  nzType="menu-unfold" nzTheme="outline"></span> </button>
  <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar" (click)="cerrar()" > <span nz-icon nzType="close-circle" nzTheme="outline"></span> </button>
      <ul class="nav-list">
        @for (item of itemsMenu ; track $index) {
          <li><a [routerLink]="item?.url" (click)="cerrar()">{{ item?.ruta }}</a></li>
        }
      </ul>
  </nav>
</header>
