<header>
  <button id="abrir" (click)="abrir()" class="abrir-menu"> <img class="icon-open" src="../../../assets/icons/open-menu.png" alt=""> </button>
  <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar" (click)="cerrar()" > <img class="icon-close" src="../../../assets/icons/close-menu.png" alt=""> </button>
      <ul class="nav-list">
        @for (item of itemsMenu ; track $index) {
          <li><a [routerLink]="item?.url" (click)="cerrar()">{{ item?.ruta }}</a></li>
        }
      </ul>
  </nav>
</header>
