
.container {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 100px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.image {
  width: 70%;
}

.image-inicio {
  width: 50%;
}

.text-inicio {
  width: 50%;
}
